<a href="https://colab.research.google.com/github/psk264/my-notebooks/blob/main/subdir/List_Comprehensions_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Instructions

Make a copy of this notebook so you can edit and save your own version of it. Do the work in your copy of the notebook.

# Prerequisites

  + [Lists](https://github.com/prof-rossetti/intro-to-python/blob/master/notes/python/datatypes/lists.md)
  + [List Comprehensions](https://docs.python.org/3/tutorial/datastructures.html?#list-comprehensions)

# Challenges

In the corresponding code cells below, use list comprehensions  to transform the provided list (i.e. `my_numbers`) in each of the following ways:

  1. Use mapping capabilities to multiply each number by 100 (e.g. `[100, 200, 300, 400, 500, 600, 700]`)
  2. Use filtering capabilities to return only the numbers greater than three (e.g. `[4, 5, 6, 7]`)
  3. Use filtering capabilities to return only the numbers greater than eight (e.g. `[]`)
  4. Use mapping and filtering capabilities to return only the numbers greater than three, each multiplied by 100 (e.g. `[400, 500, 600, 700]`)

Example final output:

```
--------------
ORIGINAL LIST: [1, 2, 3, 4, 5, 6, 7]
--------------
1) MAPPED LIST: [100, 200, 300, 400, 500, 600, 700]
--------------
2) FILTERED LIST W/ MATCHES: [4, 5, 6, 7]
--------------
3) FILTERED LIST W/O MATCHES: []
--------------
4) MAPPED AND FILTERED LIST: [400, 500, 600, 700]
```

Spoiler Alert: [List Comprehensions Exercise Solution](https://github.com/prof-rossetti/intro-to-python/blob/master/exercises/list-comprehensions/solutions.py)

In [ ]:
# leave this cell as-is

my_numbers = [1, 2, 3, 4, 5, 6, 7]

print("--------------")
print("ORIGINAL LIST:", my_numbers)

--------------
ORIGINAL LIST: [1, 2, 3, 4, 5, 6, 7]

In [ ]:

#
# 1) Use mapping capabilities to multiply each number by 100 (i.e. [100, 200, 300, 400, 500, 600, 700])
# 
print(my_numbers)
# TODO: write python code here

# APPROACH 1: 
# step 1: create a new empty list
larger_numbers = []

# step 2: loop through the original list
# for loop construction:
# for ____ in ____ :
#   # do something with this item

for n in my_numbers:
# Step 3: append/assembe some transformed version of each item to the new list
    larger_numbers.append(n*100)

#print the new list
print(larger_numbers)

[1, 2, 3, 4, 5, 6, 7]
[100, 200, 300, 400, 500, 600, 700]

In [12]:
#
# 1) Use mapping capabilities to multiply each number by 100 (i.e. [100, 200, 300, 400, 500, 600, 700])
# 
# APPROACH 2

#print([____ for n in ___])
print([n*100 for n in my_numbers])

[100, 200, 300, 400, 500, 600, 700]

In [ ]:

# 
# 2) Use filtering capabilities to return only the numbers greater than three (i.e. [4, 5, 6, 7])
# 
print(my_numbers)
# TODO: write python code here

# Approach 1: use a custom function in conjunction with filter() function

# Approach 2: use conditional logic in conjunction with mapping operation
some_numbers = []

for n in my_numbers:
  if n > 3 :
    some_numbers.append(n)

print(some_numbers)

[1, 2, 3, 4, 5, 6, 7]
[4, 5, 6, 7]

In [15]:
# 
# 2) Use filtering capabilities to return only the numbers greater than three (i.e. [4, 5, 6, 7])
# 
# APPROACH 2

#print([____ for n in ___ if ___])

print([n for n in my_numbers if n>3])

[4, 5, 6, 7]

In [ ]:

#
# 3) Use filtering capabilities to return only the numbers greater than eight (i.e. [] or empty list)
#

# TODO: write python code here

numbers_greater_8 = []

for n in my_numbers:
  if(n>8):
    some_numbers.append(n)

print(some_numbers)

[]

In [11]:
#
# 4) Use mapping and filtering capabilities to return only the numbers greater than three, each multiplied by 100 (i.e. [400, 500, 600, 700])
# mapping means n*100
# filtering means subset of list

# TODO: write python code here

print(my_numbers)

mapped_numbers = []

for n in my_numbers:
  if(n>3):
    mapped_numbers.append(n*100)
print(mapped_numbers)

[1, 2, 3, 4, 5, 6, 7]
[400, 500, 600, 700]

In [18]:
# Using list comp technique
print([n*100 for n in my_numbers if n>3]) 
#print([n*100 for n in my_numbers if n>3 and n<6])

[400, 500, 600, 700]